nav.navbar.bg-dark.border-bottom.border-body data-bs-theme="dark"
  .container
    .navbar-header
      button(type='button' class='navbar-toggler' data-bs-toggle='collapse'
              data-bs-target='#main-navbar' aria-expanded='false' )
        / i.bi.bi-list
        span.navbar-toggler-icon
      = link_to root_path, class: 'navbar-brand' do
        ' Bakofin

    #main-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item.disabled 
          = link_to 'Commodities', "/", class: 'nav-link'

      span.navbar-text
        ' Bla-bla
        /- if user_signed_in?
        /  p.navbar-text
        /    small= current_user.first_name
        /  li = link_to fa_icon('sign-out', text: 'Выйти', right: true),
        /               destroy_user_session_path, method: :delete
        /- else
        /  li = link_to fa_icon('sign-in', text: 'Войти', right: true), new_user_session_path